#auth-page {
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    #auth-left {
        flex: 2;
        img {
            object-fit:fill;
            width: 100%;
            height: 100%;
        }
    }
    #auth-right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .auth-text-group{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 5px;
            .auth-text {
                font-size: 14px;
                Link {
                    text-decoration: none;

                }
            }
        }
        
        #login-form {
            .form-header {
                color:rgb(4, 152, 189);
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 20px;
            .auth-form-input {
                min-width: 350px;
                height: 40px;
                padding-left: 10px;
                border-radius: 8px;
                border: 2px solid rgb(228, 226, 226);
            }
            .login-button {
                min-width: 350px;
                border: none;
                height: 40px;
                border-radius: 8px;
                font-size: 20px;
                background: rgb(4, 152, 189);
                color: white;
                
            }
        }
        #signup-form {
            .form-header {
                color:rgb(4, 152, 189);
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 20px;
            .auth-form-input {
                min-width: 350px;
                height: 35px;
                padding-left: 10px;
                border-radius: 8px;
                border: 2px solid rgb(228, 226, 226);
            }
            .login-button {
                min-width: 350px;
                border: none;
                height: 40px;
                border-radius: 8px;
                font-size: 20px;
                background: rgb(4, 152, 189);
                color: white;
                
            }
        }
    }

}