body.add-modal-underlay-active {
    overflow-y: hidden;
  }
  
  #main-page {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    width: calc(100vw-250px);
    max-width: calc(100vw-250px);

    .page-title {
    height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: #141466;
    }

    .add-modal-underlay-active {
      background-color: rgba(8, 4, 73, 0.3);
      min-width: 100vw;
      min-height: 100vh;
      z-index: 9999;
      left: 0%;
      top: 0%;
      position: fixed;
      .add-modal {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 700px;
        height: fit-content;
        border-radius: 5px;
        overflow-x: hidden;
        
        .add-header {
          width: 100%;
          min-height: 60px;
          background-color: rgb(72, 62, 139);
          position: relative;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          font-weight: bold;
          flex: 1;
          .add-close-icon {
            position: absolute;
            top: 35%;
            left: 96%;
            transform: translate(-50%);
            &:hover {
              cursor: pointer;
            }
          }
        }
        .add-body {
          flex: 10;
          width: 100%;
          background: white;
          box-shadow: 2px 2px 4px rgb(235, 233, 233);
          display: flex;
          align-items: flex-start;
          justify-content: center;
          padding-top: 30px;
          overflow-y: scroll;
          .add-form {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 30px;
            padding-bottom: 20px;
            .input-groups {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;
              gap: 20px;
              width: 100%;
              flex: 10;
              .form-input-address {
                border: none;
                border-bottom: 2px solid rgb(226, 225, 225);
                width: 86%;
                height: 40px;
                outline: none;
              }
              .form-groups {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 40px;
                .form-input-three {
                  border: none;
                  border-bottom: 2px solid rgb(226, 225, 225);
                  width: 24%;
                  height: 40px;
                  outline: none;
                }
                .form-input {
                  border: none;
                  border-bottom: 2px solid rgb(226, 225, 225);
                  width: 40%;
                  height: 40px;
                  outline: none;
                }
              }
            }
            .add-form-button {
              flex: 1;
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              padding-right: 40px;
              gap: 20px;
              width: 100%;
              .button {
                width: 100px;
                height: 40px;
                border: none;
                border-radius: 5px;
                &:hover {
                  cursor: pointer;
                }
              }
              .add-cancel-button {
                background: rgb(226, 225, 225);
                color: black;
              }
              .add-submit-button {
                background: rgb(72, 62, 139);
                color: white;
                margin-right: 30px;
              }
            }
          }
        }
      }
    }
    
    .add-modal-underlay-inactive {
      display: none;
    }

    .main-page-body {
      width: 100%;
      height: fit-content;
      background: white;
      box-shadow: 2px 2px 4px rgb(235, 233, 233);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      .main-page-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        column-gap: 20px;
        height: 60px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom: 1px solid rgb(212, 211, 211);
        .add-dropdown-active {
          position: absolute;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-around;
          top: 95%;
          left: 69.5%;
          background-color: white;
          list-style: none;
          box-shadow: 2px 2px 5px 2px rgb(223, 222, 222);
          font-size: 14px;
          height: 70px;
          width: 200px;
          border-radius: 5px;
          div {
            font-size: 15px;
            width: 96%;
            padding: 2%;
            &:hover {
              background-color: #e1e1e6;
              cursor: pointer;
            }
          }
        }
        .add-dropdown {
          display: none;
        }
        .title-button {
          border: none;
          padding-left: 20px;
          padding-right: 10px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 15px;
          &:hover {
            cursor: pointer;
          }
        }
        .add {
          background: rgb(72, 62, 139);
          color: white;
          border-radius: 5px;
          display: flex;
          align-items: center;
          column-gap: 10px;
        }
        .add-help {
          border: 2px solid rgb(72, 62, 139);
          color: rgb(72, 62, 139);
          border-radius: 3px;
          background-color: white;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
      .body {
        display: flex;
        justify-content: space-between;
        min-height: calc(700px - 60px);
        padding-bottom: 20px;
        overflow-x: scroll;
        .staff-list {
          flex: 2;
          display: flex;
          flex-direction: column;
          width: 100%;
          .filter {
            height: 50px;
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 40px;
            width: calc(100% - 40px);
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(212, 211, 211);
            padding-left: 20px;
            padding-right: 20px;
            .date-range-section {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 5px;
              .date-range {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                height: 32px;
                padding: 10px;
                padding-right: 10px;
                padding-left: 10px;
                background: #f5f5fa;
                letter-spacing: 1px;
                border: 1px solid #ececf2;
                box-sizing: border-box;
                border-radius: 5px;
                font-style: normal;
                font-size: 15px;
                line-height: 18px;
              }
            }
            .status-filter-section {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-end;
              gap: 5px;
              text-align: left;
              .status-filter {
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;
                height: 32px;
                padding: 5px;
                padding-right: 5px;
                padding-left: 2px;
                background: #f5f5fa;
                letter-spacing: 1px;
                border: 1px solid #ececf2;
                border-radius: 5px;
                font-size: 14px;
                outline: none;
              }
            }
            .name {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              justify-content: flex-start;
              .search {
                height: 30px;
                background: white;
                border: 1px solid #d3d3d6;
              }
              .search-icon {
                height: 32px;
                padding-left: 10px;
                border-right: none;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                color: grey;
              }
              .name-search {
                display: flex;
                width: 210px;
                padding-left: 10px;
                outline: none;
                border-left: none;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                font-size: 15px;
              }
            }
          }
          @media only screen and (max-width: 768px) {
            .filter {
              display: flex;
              flex-direction: column;
              gap: 20px;
              height: fit-content;
              
            }
          }
          .none-data-added {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            .no-title {
              font-size: 30px;
              color: #141466;
            }
            .no-logo {
              font-size: 100px;
              color: #141466;
            }
            .add-button {
              border: none;
              padding: 10px 20px;
              background-color: #141466;
              color: white;
              border-radius: 5px;
              &:hover {
                cursor: pointer;
              }
            }
          }
          .staff-table {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            overflow-x: scroll;
            gap: 10px;
            .table-header {
              font-size: 27px;
              color: white;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgb(97, 82, 185);
              width: 100%;
            }
            .table {
              width: 100%;
              font-size: 12px;
              border-collapse: collapse;
              background-color: white;
              border-radius: 5px;
              padding: 5px;
              padding-bottom: 20px;
              overflow-x: scroll;
              tr {
                border-bottom: 2px solid white;
                height: fit-content;
                .list-image {
                  object-fit: fill;
                  width: 50px;
                  height: 50px;
                  border-radius: 50%;
                }
              }
              th {
                font-size: 18px;
                text-align: left;
                color: rgb(55, 46, 105);
                height: 30px;
              }
              .new-table-icons-group {
                border-left: 2px solid white;
                .icons {
                  padding: 8px;
                  box-shadow: 2px 2px 4px rgb(235, 233, 233);
                  background: white;
                  color: #4d4d8b;
                  overflow: hidden;
                  border-radius: 5px;
                  margin-left: 5px;
                  &:hover {
                    background: rgba(143, 185, 247, 0.5);
                    cursor: pointer;
                  }
                }
              }
              .status-button {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                padding: 5px 20px;
                font-size: 15px;
                border-radius: 30px;
                background: rgba(2, 216, 2, 0.1);
                color: rgb(36, 145, 26);
              }
            }
            .tbody tr:hover {
              background-color: #f5f5fa;
            }
            .table td {
            //   padding: 0px 10px;
              height: fit-content;
              font-size: 13px;
              background: #f5f5fa;
              padding-top: 5px;
              padding-bottom: 5px;
              padding-left: 10px;
            }
            .paginator {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              gap: 15px;
              .paginator-buttons {
                color: rgb(72, 62, 139);
                &:hover {
                  cursor: pointer;
                  font-weight: bold;
                }
              }
              .paginator-pages {
                border: none;
                border-radius: 5px;
                padding: 6px 12px;
              }
              .current-page {
                background: rgb(72, 62, 139);
                color: white;
              }
            }
          }
        }
      }
    }
  }
  //Data for calendar
  .applyBtn {
    background: #357ebd;
    border: none;
    color: white;
    border-radius: 3px;
  }
  .cancelBtn {
    border: none;
    border-radius: 3px;
  }
  
  
  
  